        @font-face {
            font-family: 'MyFont';
            src: url('FileName.eot');
            src: url('FileName.eot?#iefix') format('embedded-opentype'),
                url('FileName.woff') format('woff'),
                url('FileName.ttf') format('truetype'),
                url('FileName.svg#FontName') format('svg');
            font-style: normal;
            font-weight: normal;
        }

        html {
            min-height: 100lvh;
        }

        body {
            font-family: 'MyFont', Arial, sans-serif;
            background-color: #ffffff;
            margin: 0;
            min-height: 100lvh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }


        p {
            margin: 0;
        }

        .header {
            display: flex;
            padding-top: 30px;

        }

        .container {
            max-width: 400px;
            margin: 0 auto;
        }

        .title-site {}

        .search {
            display: flex;
            width: auto;
            gap: 15px;
        }

        .input-search {
            width: 280px;
            height: 50px;
            border: none;
            border-radius: 25px;
            background-color: #C0DBF8;
            box-shadow: 0 2px 7px 1px #032A37;
            padding-left: 20px;
            outline: none;
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            backdrop-filter: blur(23.066667556762695px);
            box-shadow: inset -5px 5px 5px 0 rgba(154, 175, 198, 0.4), inset -2px 2px 2px 0 rgba(255, 255, 255, 0.4), inset 5px -5px 5px 0 rgba(255, 255, 255, 0.4), inset 2px -2px 2px 0 rgba(154, 175, 198, 0.4);
            background: #1F7A8C;
            opacity: 0.55;
        }

        .input-search::placeholder {
            color: #fff;
            font-size: 1.1rem;
            opacity: 0.9;
        }

        .search-btn {
            width: 60px;
            border: none;
            border-radius: 20px;
            background-color: #C0DBF8;
            box-shadow: 0 2px 7px 1px #032A37;
            font-size: 2.5rem;
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            backdrop-filter: blur(23.066667556762695px);
            box-shadow: inset -5px 5px 5px 0 rgba(154, 175, 198, 0.4), inset -2px 2px 2px 0 rgba(255, 255, 255, 0.4), inset 5px -5px 5px 0 rgba(255, 255, 255, 0.4), inset 2px -2px 2px 0 rgba(154, 175, 198, 0.4);
            background: #1F7A8C;
            opacity: 0.55;
        }

        .main {
            margin-top: 20px;
        }

        .all-info {
            background-color: #FFFFFF;
            opacity: 0.8;
            border: 3px solid #012B39;
            border-radius: 20px;
            padding: 10px;
            margin-top: 80px;
            min-height: 300px;
            font-size: 1.5rem;
            color: #012B39;
        }

        span {
            color: #1F7A8C;
        }

        .profile-btn {
            margin: 90px auto;
            background-color: #012B39;
            padding: 20px 30px;
            border-radius: 50px;
            width: 100px;
            opacity: 0.8;
        }

        .profile-link {
            font-size: 1.5rem;
            text-decoration: none;
            color: #FFFFFF;
        }

        .back {
            position: absolute;
            width: 430px;
            z-index: -1;
        }

        .search-img {
            width: 23px;
            position: relative;
            bottom: 2px;
        }

        .header-inner {
            display: flex;
            gap: 40px;
            align-items: center;
        }

        .profile-info {
            display: flex;
            border-radius: 50px;
            box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.25);
            background: #fff;
            height: 70px;
            align-items: center;
            gap: 10px;
            padding: 0 20px 0 0;
        }

        .user-name {
            font-weight: 400;
            font-size: 20px;
            text-align: right;
            color: #012b39;
            width: 135px;
            margin-left: 10px;
        }

        .profile-vector {
            width: 30px;
            height: 30px;
        }

        .logo-site {
            width: 160px;
            height: 70px;
        }

        .adress-div {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            width: 340px;
            height: 120px;
            align-items: center;
            justify-content: space-evenly;
            padding: 5px 20px;
            color: #fff;
            box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25);
            background: rgba(50, 132, 149, 0.45);
            border-radius: 15px;
        }

        .adress-div-min {
            margin: 0 auto;
            display: flex;
            width: 340px;
            height: 50px;
            align-items: center;
            justify-content: space-between;
            padding: 5px 20px;
            color: #fff;
            box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25);
            background: rgba(50, 132, 149, 0.45);
            border-radius: 15px;
        }

        .main {
            padding-top: 50px;
        }

        .adress-title {
            position: relative;
            top: 15px;
            margin: 0 auto;
            box-shadow: 0 7px 3px -2px rgba(0, 0, 0, 0.25);
            background: #fff;
            border-radius: 30px;
            width: 200px;
            padding: 10px 1px;
            color: #022B3A;
            text-align: center;
        }

        .adress-redact {
            width: 20px;
        }

        .adress-txt {
            font-size: 1rem;
            margin-left: 60px;
        }

        .adress-txt-min {
            font-size: 1.2rem;
        }

        .buttons {
            display: flex;
            gap: 20px;
            justify-content: center;
        }

        .page-btn-main {
            color: #fff;
            backdrop-filter: blur(14.066666603088379px);
            box-shadow: inset -1px 1px 1px 0 rgba(255, 255, 255, 0.4), inset 1px -1px 1px 0 rgba(189, 192, 202, 0.4);
            background: rgba(0, 111, 102, 0.77);
            border-radius: 50px;
            padding: 20px 40px;
            text-decoration: none;
        }

        .page-logOut {
            backdrop-filter: blur(14.066666603088379px);
            box-shadow: inset -1px 1px 1px 0 rgba(255, 255, 255, 0.4), inset 1px -1px 1px 0 rgba(189, 192, 202, 0.4);
            background: rgb(2, 63, 69);
            border-radius: 50px;
            padding: 20px 40px;
            color: #ffff;
            text-decoration: none;
        }

        .top {
            position: relative;
            bottom: 80px;
        }

        .home-adress, .work-adress {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .adress-name{
            background-color: #012B39;
            font-size: 0.7rem;
            padding: 3px 20px;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            position: absolute;
            left: 10px;
        }

        .svg-adress {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        footer {
            margin-bottom: 70px;
        }